{
  "extends": [
    "@rocket.chat/eslint-config"
  ],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-fragments": ["error", "syntax"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
