
.addServer {
	position: absolute;
  height: 100%;
  width: 100%;
	overflow-y: auto;
	text-align: center;
	background-color: #2f343d;
	display: flex;
	align-items: center;
	justify-content: center;
  z-index: 2;
}


.wrapper {
  min-width: 600px;
  text-align: center;
  padding: 45px 0 35px;
  z-index: 10;
  position: relative;
  -webkit-app-region: no-drag;
}
.share {
  border-radius: 50%;
  min-height: 40px;
  line-height: 20px;
  &:before {
    border-radius: 50%;
  }
  span {
    display: none;
  }
}

.login {
	width: 90%;
	max-width: 520px;
	padding: 22px 30px 30px;
	margin: 25px auto;
	background-color: #FAFAFA;
	box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	position: relative;
	header {
		padding: 18px 0;
		p {
			margin: 8px 0 0;
			font-size: 14px;
			line-height: 22px;
			font-weight: 300;
		}
	}
	h2 {
		//&:extend(.rocket-h2);
		color: black;
		line-height: 24px;
		margin: 0;
		&.error {
			color: #b40202;
		}
	}
	h3 {
		//&:extend(.rocket-h3);
		&.error {
			color: #b40202;
		}
	}
	img {
		width: 200px;
	}
  .input {
    margin: 0 0 14px 0;
    position: relative;
    input {
      box-shadow: 0 0 0;
      background-color: transparent;
      border-width: 0;
      position: relative;
      padding: 4px 8px;
      font-size: 22px;
      border-bottom: 1px solid #DFDFDF;
      font-weight: 400;
      &.error {
        border-bottom: 1px solid #b40202;
        &::-webkit-input-placeholder {
          color: #b40202;
        }
        &:-moz-placeholder {
          color: #b40202;
        }
        /* Firefox 18- */

        &::-moz-placeholder {
          color: #b40202;
        }
        /* Firefox 19+ */

        &:-ms-input-placeholder {
          color: #b40202;
        }
      }
    }
    input:-webkit-autofill {
      color: #fff !important;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset;
      background-color: transparent !important;
    }
  }
}
