@import './font/fontello.css';
@import './components/variables.scss';

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus {
	outline: 0 !important;
	outline-color: transparent;
	outline-style: none;
}

html, body {
  margin: 0;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif, "Meiryo UI";
	font-size: 0.875rem;
	-webkit-font-smoothing: antialiased;
	line-height: 1rem;
	padding: 0;
}

h2 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: -0.5px;
	margin: 18px 0;
  color: $primary-font-color;
	line-height: 24px;
	margin: 0;
	&.error {
		color: #b40202;
	}
}

h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: -0.5px;
	margin: 18px 0;
  &.error {
		color: #b40202;
	}
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
}

.alert-warning {
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

.alert-danger {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}


.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

// input & form styles
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input:focus {
	outline: none;
	box-shadow: 0 0 0;
}

textarea,
select,
input[type='text'],
input[type='email'],
input[type='password'] {
	height: 35px;
	line-height: normal;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	border-radius: 2px;
	padding: 2px 8px;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	width: 100%;
	outline: none;
}

// new layout buttons
.button {
	display: inline-block;
	padding: 9px 12px;
	background-color: #FFF;
	color: rgba(255, 255, 255, 0.85);
	font-weight: 500;
	font-size: 13px;
	margin: 4px;
	text-transform: uppercase;
	word-spacing: 0;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
	border: none;
	line-height: 16px;
	position: relative;
	background-color: lighten(desaturate($primary-background-color, 15%), 12.5%);
	cursor: pointer;
	span {
		position: relative;
		z-index: 2;
	}
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		opacity: 0;
		z-index: 1;
		//.transition(opacity .1s ease-out);
	}
	&:hover {
		text-decoration: none;
		color: #FFF;
		&:before {
			opacity: 1;
		}
	}
	&.secondary {
		background-color: $tertiary-background-color;
		color: black;
		&:before {
			background-color: rgba(0, 0, 0, 0.045);
		}
	}
	&.delete,
	&.remove,
	&.red {
		min-width: 120px;
		background-color: #bc2031;
	}
	&.clean {
		background-color: rgba(0, 0, 0, 0.025);
		font-size: 14px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
		&.primary {
			font-weight: 600;
		}
	}
	&.facebook {
		background-color: #325c99;
	}
	&.twitter {
		background-color: #02acec;
	}
	&.google {
		background-color: #dd4b39;
	}
	&.github {
		background-color: #4c4c4c;
	}
	&.trello {
		background-color: #026aa7;
	}
  &.meteor-developer {
		background-color: #de4f4f;
	}
  &.linkedin {
		background-color: #13679a;
	}

	&:disabled {
		color: #888;
		box-shadow: none;
		cursor: not-allowed;
		pointer-events: none;
		background-color: #ddd;
	}
}

.drag-region {
	position: absolute;
	-webkit-app-region: drag;

	&.top-bar {
		height: 22px;
		width: 100%;
	}
}
