@import 'variables.scss';

.loadingAnimation {
  color: $secondary-font-color;
  background-color: $primary-background-color;
  /*margin-left: 32px;
  margin-top: 12px;
  margin-bottom: 5px;*/
	display: flex;
	align-items: center;
	justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;

  & > div {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    margin: 2px;
    background-color: $secondary-font-color;
    -webkit-animation: loading-bouncedelay 1.4s infinite ease-in-out both;
    animation: loading-bouncedelay 1.4s infinite ease-in-out both;
  }
  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes loading-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes loading-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
