.loading__animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__animation__bounce {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 2px;
  animation: loading-bouncedelay 1.4s infinite ease-in-out both;
  animation-delay: -0.32s;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.loading__animation__bounce--medium {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}

.loading__animation__bounce--large {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

.loading__animation__bounce + .loading__animation__bounce {
  animation-delay: -0.16s;
}

.loading__animation__bounce + .loading__animation__bounce + .loading__animation__bounce {
  animation-delay: 0s;
}

@keyframes loading-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

#loading-overlay-root {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f343d;
  color: white;
  z-index: 999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: system-ui;
}

#loading-overlay-root.show {
  display: flex;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.loading-text {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.loading-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.25rem;
  color: #ccc;
}

