.rcr-navigation-item {
    padding: 10px 0px 10px 50px;
}

.rcr-navigation-item:active {
    background-color: #8c9197;
}

.rcr-navigation-item:hover {
    background-color: #8c9197;
}

.rcr-navigation-item a {
    color: black;
    text-decoration: none;
}

.rcr-navigation-item__link {
    display: grid;
    grid-template-columns: 25px auto;
    grid-column-gap: 0px;
}

.rcr-navigation-item__title {
    grid-column-start: 2;
}

.rcr-navigation-item__icon {
    grid-column-start: 1;
    grid-column-end: 1;
}